// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00e1ff;
$yellow: #fff400;
$orange: #E67E22;
$green: #1EDD88;
$gray: #101010;
$light-gray: #F4F4F4;

// Brand colours:
$pink: #ff037c;
$aqua: #00e1ff;
$bright-yellow: #fff400;
$medium-grey: #BEBBBF;
$dark-grey: #1E1B1E;
$not-black: #101010;
