<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "/microphone.png" %>
  <% end %>

  <div class="container">
    <div class="theme-switch">
      <div class="switch"></div>
    </div>
    <div class="navigation">
      <ul>
        <a href="" class="active" target="_blank">Latest Show</a>
        <a href="" target="_blank">Booking</a>
        <a href="" target="_blank">Contact</a>
        <a href="" target="_blank">About</a>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="main.js"></script>
