<div class="navbar navbar-fixed-top">
  <!-- Logo -->
  <%= link_to shows_path, class: "navbar-brand" do %>
    <img src="/assets/mic.png" width="80" height="80"/>
  <% end %>
<%# Main Navigation %>
<body>
<%# <div class="navbar-wagon-right hidden-xs hidden-sm"> %>
<div class="container" data-controller="navbar_controller">
    <div class="theme-switch">
      <div class="switch"></div>
    </div>
    <div class="navigation">
      <ul>
        <a href="" class="active" target="_blank">Latest Show</a>
        <a href="" target="_blank">Booking</a>
        <a href="" target="_blank">Log In</a>
        <a href="" target="_blank">Sign Up</a>
      </ul>
    </div>
</div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</div>
