<div class="container my-5">
  <div class="row">
    <div class="col-md-6 pt-3">
      <small class="text-uppercase" style="color: #9B5DE5;">About us</small>
      <h1 class="h2 mb-4" style="font-weight: 600;">About Our <span style="color: #9B5DE5;">Comedy Inn</span></h1>
      <p class="text-secondary" style="line-height: 2;">We're a young, diverse team from Le Wagon Australia (Connor Sanderson, Brian Huynh, Sarah Pelham & Ashmeet Khurana) with enormous love for comedy shows in Melbourne, who dare to think big arent afraid to be different. We believe "Comedy is an instrument that converts tension into joy", thats why our mission is to bring you all the best comedy shows which are happening in Melbourne Comedy Festival</p>
    </div>
    <div class="col-md-6 text-center">
      <div class="row">
        <div class="col-md-6 mb-3">
          <img src="/assets/Team.jpg" class="w-100 h-100 rounded" alt="">
        </div>
        <div class="col-md-6 mb-3">
          <img src="/assets/Team1.jpg" class="w-100 h-100 rounded" alt="">
        </div>
      </div>
  </div>
</div>
