.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #ff037c;
  transition: background 0.3s ease;
  margin: 16px 0;
  font-weight: bold;
}

.btn-pink:hover {
  background: #c4015f;
  color: white;
}

.btn-pink:focus,
.btn-pink:active {
  outline: none !important;
  box-shadow: none;
}
