.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: deeppink;
  transition: background 0.3s ease;
  margin: 16px 0;
}

.btn-pink:hover {
  background: rgb(215, 17, 123);
  color: white;
}
