.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 16px;
  color: #ffffff;
  background-color: $not-black;
  max-width: 250px;
  border-radius: 8px;
}
