// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";
@import "components/card";

// adding spacing between icons and text
i {
  margin-right: 6px;
}

// adding extra spacing for logo icon and text
.i-large {
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1,
h3,
.Host_comedy {
  color: var(--text);

  .theme-switch {
    --background: rgb(255, 255, 255);
    --text: #000;

    // width: 70px;
    // height: 30px;
    // background: var(--highlight);
    // border-radius: 50px;
    // position: relative;
    .switch {
      background: white;
      // width: 24px;
      // height: 24px;
      background: var(--background);
    }
  }


  .light-theme {
    --background: #FFF;
    --text: #000;
    background: var(--background);

    .theme-switch {
      background: var(--text);

      .switch {
        transform: translateX(37px);
      }
    }
  }
}

#newshow {
  color: black;
}

.review-icons {

  a {
    color: $pink;
  }


  :hover {
    cursor: pointer;
  }
}

.review {
  p {
    margin: 0;
  }

  .review-stars {
    color: yellow
  }
}

.layout-buttons {
  color: white;
  font-size: larger;
}

#mapicon:hover,
#gridicon:hover {
}


#mapbox {
  height: 600px;
}

#card-column {
  height: 600px;
  overflow-y: scroll;
}



// SHOW PAGE STYLING

section,
#review {
  color: $medium-grey;
  background-color: $not-black;

  .show-description {
    border-radius: 8px;
    padding: 20px;
    background-color: $dark-grey;
  }
}

#reviewimage {
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}

// #review {
//   color: $medium-grey;
//   background-color: ;
// }







// .Host_comedy {
//   &:before {
//     color: #379af6;
//     transform: translateX(-100%);
//     opacity: 0;
//   }

//   &:hover {
//     &:before {
//       opacity: 1;
//       transition: 0.5s transform ease, 0.8s opacity ease;
//       transform: translateX(0);
//     }
//   }



//   .active {
//     color: #379af6;

//     &:hover {
//       &:before {
//         opacity: 0;
//       }
//     }
//   }
// }
